<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.heytz.ble" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HeytzBle</name>


    <dependency id="cordova-plugin-compat" version="^1.1.0" />
    <dependency id="cordova-plugin-device" version="^1.1.6" />

    <js-module name="HeytzBle" src="www/heytzBle.js">
        <clobbers target="HeytzBle"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HeytzBle">
                <param name="android-package" value="com.heytz.ble.HeytzBle"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <!--程序应该拥有蓝牙设备-->
            <uses-feature
                    android:name="android.hardware.bluetooth_le"
                    android:required="true"/>

            <!--蓝牙权限-->
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.INTERNET"/>

            <!-- Android6.0 蓝牙扫描才需要-->
            <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--开启ble服务-->
            <service
                    android:name="com.heytz.ble.sdk.BleService"
                    android:enabled="true"/>
        </config-file>
        <lib-file src="libs/com.broadcom.bt.jar"/>
        <lib-file src="libs/commons-codec-1.8.jar"/>
        <lib-file src="libs/samsung_ble_sdk_200.jar"/>
        <source-file src="src/android/heytzBle/HeytzBle.java" target-dir="src/com/heytz/ble"/>
        <source-file src="src/android/heytzBle/HeytzUUIDHelper.java" target-dir="src/com/heytz/ble"/>
        <source-file src="src/android/heytzBle/Utils.java" target-dir="src/com/heytz/ble"/>

        <source-file src="src/android/sdk/AndroidBle.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleGattCharacteristic.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleGattService.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleRequest.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleService.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BroadcomBle.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/IBle.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/IBleRequestHandler.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/SamsungBle.java" target-dir="src/com/heytz/ble/sdk"/>
    </platform>
    <platform name="ios">

        <config-file target="config.xml" parent="/widget">
            <feature name="HeytzBle">
                <param name="ios-package" value="HeytzBleCentralPlugin" onload="true"/>
            </feature>
        </config-file>
        <preference name="BLUETOOTH_USAGE_DESCRIPTION" default=" "/>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>bluetooth-central</string>
                <string>fetch</string>
            </array>
        </config-file>
        <header-file src="src/ios/HeytzBleCentralPlugin.h" target-dir="HeytzBleCentralPlugin"/>
        <source-file src="src/ios/HeytzBleCentralPlugin.m" target-dir="HeytzBleCentralPlugin"/>

        <header-file src="src/ios/HeytzBLECommandContext.h" target-dir="HeytzBleCentralPlugin"/>
        <source-file src="src/ios/HeytzBLECommandContext.m" target-dir="HeytzBleCentralPlugin"/>

        <header-file src="src/ios/HeytzCBPeripheral+Extensions.h" target-dir="HeytzBleCentralPlugin"/>
        <source-file src="src/ios/HeytzCBPeripheral+Extensions.m" target-dir="HeytzBleCentralPlugin"/>

        <!-- frameworks -->
        <framework src="CoreBluetooth.framework"/>

    </platform>
</plugin>