<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.heytz.ble" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>heytzBle</name>
    <js-module name="heytzBle" src="www/heytzBle.js">
        <clobbers target="heytzBle"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="heytzBle">
                <param name="android-package" value="com.heytz.ble.heytzBle"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <!--程序应该拥有蓝牙设备-->
            <uses-feature
                    android:name="android.hardware.bluetooth_le"
                    android:required="true" />
            <!--开启ble服务-->
            <service
                    android:name="com.heytz.ble.sdk.BleService"
                    android:enabled="true" />
            <!--蓝牙权限-->
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <lib-file src="libs/com.broadcom.bt.jar"/>
        <lib-file src="libs/commons-codec-1.8.jar"/>
        <lib-file src="libs/samsung_ble_sdk_200.jar"/>
        <source-file src="src/android/heytzBle/heytzBle.java" target-dir="src/com/heytz/ble/heytzBle"/>

        <source-file src="src/android/sdk/AndroidBle.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleGattCharacteristic.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleGattService.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleRequest.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BleService.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/BroadcomBle.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/IBle.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/IBleRequestHandler.java" target-dir="src/com/heytz/ble/sdk"/>
        <source-file src="src/android/sdk/SamsungBle.java" target-dir="src/com/heytz/ble/sdk"/>
    </platform>
</plugin>